html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: black;
}
.main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .piano {
    width: 70%;

    .white {
      fill: #fff;
    }

    path:hover {
      cursor: pointer;
    }

    path:active {
      fill: rgb(122, 204, 44);
    }
  }
}
